setuptools
streamlit
markdown
numpy
pandas
Pillow
streamlit_extras
st_clickable_images
st_click_detector
streamlit-on-Hover-tabs
streamlit_pandas_profiling
ydata_profiling
mitosheet
pygwalker
datetime
hydralit
keyboard
fuzzywuzzy
requests
plotly
